.catListTitle {
    background: #C1C1C1;
    border-bottom: #000000;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #FFFFFF;
    font-size: 1.2em;
    height: 1.8em;
    line-height: 1.3em;
    padding: 6px;
    text-indent: 0.5em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

a {
    color: #000000;
}

.blogName a {
    color: #555454;
}
.borderLeft{
    vertical-align: 7px;
    display: inline-block;
    width: 3%;
    border-top: 1px solid #ccc;
}
.borderRight{
    display: inline-block;
    min-width:60%;
    width: auto;
}

.titleName{
    color: #0a95da;
    margin-left: 10px;
    display: inline-block;
    width: 7%;
    font-size: 18px;
    min-width:90px;
}
