/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */
.column {
    float: left;
}

@media screen and (max-width: 300px) {
    .column {
        float: none;
        position: relative;
        clear: both;
    }
}

.size-1of8 {
    width: 12.5%;
}

.size-1of6 {
    width: 18%;
}

.size-1of4 {
    width: 25%;
}

.size-1of3 {
    width: 33.333%;
}

.size-1of2 {
    width: 50%;
}

.borderRight90 {
    width: 90%;
}

#fh5co-board[data-columns]::before {
    content: '4 .column.size-1of4';
}

/* Configurate salvattore with media queries */
/*@media screen and (max-width: 450px) {
#fh5co-board[data-columns]::before { content: '1 .column'; }
}*/
@media screen and (min-width: 200px) and (max-width: 320px) {
    #fh5co-board[data-columns]::before {
        content: '2 .column.size-1of2';
    }

    .borderRight[data-titleRight]::after {
        content: '';
        display: inline-block;
        border-top: 1px solid #ccc;
        vertical-align: 7px;
        min-width: 60%;
        width:100%;
    }
}

@media screen and (min-width: 321px) and (max-width: 451px) {
    #fh5co-board[data-columns]::before {
        content: '3 .column.size-1of3';
    }

    .borderRight[data-titleRight]::after {
        content: '';
        display: inline-block;
        border-top: 1px solid #ccc;
        vertical-align: 7px;
        min-width: 60%;
        width:100%;
    }
}

/*@media screen and (min-width: 400px) and (max-width: 850px) {
#fh5co-board[data-columns]::before { content: '3 .column.size-1of3'; }
}*/

@media screen and (min-width: 451px) {
    #fh5co-board[data-columns]::before {
        content: '4 .column.size-1of4';
    }

    .borderRight[data-titleRight]::after {
        content: '';
        display: inline-block;
        border-top: 1px solid #ccc;
        vertical-align: 7px;
        min-width: 60%;
        width:100%;
    }
}

@media screen and (min-width: 651px) {
    #fh5co-board[data-columns]::before {
        content: '6 .column.size-1of6';
    }

    .borderRight[data-titleRight]::after {
        content: '';
        display: inline-block;
        border-top: 1px solid #ccc;
        vertical-align: 7px;
        min-width: 60%;
        width:100%;
    }
}

@media screen and (min-width: 851px) {
    #fh5co-board[data-columns]::before {
        content: '8 .column.size-1of8';
    }

    .borderRight[data-titleRight]::after {
        content: '';
        display: inline-block;
        border-top: 1px solid #ccc;
        vertical-align: 7px;
        min-width: 60%;
        width:150%;
    }
}
